{{!< centercolumn}}

{{#each apps as |app|}}

    <div class="row p-2">
        <div class="col p-2">
            <div class="row h1 m-2">{{app.client.name}}</div>
            <div class="row m-2">Connected On: {{formatDate app.createdAt}}</div>
            <div class="row">
                <div class="col align-self-center align-items-center">
                    <a href="{{app.client.defaultURL}}"><div class="btn btn-sm btn-info">View App</div></a>
                    <a href="/apps/{{app.client.id}}/delete"><div class="btn btn-sm btn-info">Remove App</div></a>
                </div>
            </div>
        </div>

    </div>

{{else}}

    <div class="row p-2">
        <div class="col p-2 text-center">
            <h3 class="thin-font">
                You have authorized no apps yet
            </h3>
        </div>
    </div>


{{/each}}
