{{!< centercolumn}}

<div class="col-md-8 c-app-page">
    <div class="card">
        <div class="heading-u-red">My Apps</div>
        <div class="attributes">
            <div class="row justify-content-between">
                {{#each apps as |app|}}
                    <div class="border-card">
                        <div class="app-row heading">{{app.client.name}}</div>
                        <div class="app-row">
                            <span class="faded">Connected on {{formatDate app.createdAt}}</span>
                        </div>
                        <div class="row justify-content-between button-row align-items-center">
                            <a href="/apps/{{app.client.id}}/delete">
                                <div class="grey">
                                    <button>Remove App  <i class="far fa-window-close"></i></button>
                                </div>
                            </a>
                            <a href="{{app.client.defaultURL}}">
                                <div class="button-dashed">
                                    <button>View</button>
                                </div>
                            </a>
                        </div>
                    </div>
                {{else}}
                    <div class="border-card">
                        <div class="app-row heading">You have no authorized apps yet.</div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
