{{!< centercolumn}}
<div class="col-md-8 c-profile-edit">
    <div class="card">
            <div class="heading-u-red">Edit Profile</div>

            <form id="edit-form" enctype="multipart/form-data" method="POST">
                {{#if user.email}} 
                    {{#unless user.mobile_number}}
                        <div class="alert alert-danger" role="alert">
                            Please enter your mobile number to continue.
                        </div>
                    {{/unless}} 
                {{else}} 
                    {{#if user.mobile_number}}
                        <div class="alert alert-danger" role="alert">
                            Please enter your email address to continue.
                        </div>
                    {{else}}
                        <div class="alert alert-danger" role="alert">
                            Please enter your email address and mobile number to continue.
                        </div>
                    {{/if}}
                {{/if}}
                {{>modal_profile_pic}}
                <div class="row justify-content-between align-items-center profile-row">
                    <div class="round-img">
                        {{#if userPhoto}}
                            <img class="round-img user-pic" src="{{userPhoto}}">
                        {{else}}
                            <img class="round-img user-pic" src="/img/user.svg">
                        {{/if}}
                    </div>

                    <div class="button-solid">
                        <button type="button" data-toggle="modal" data-target="#change-dp">CHANGE PROFILE IMAGE</button>
                    </div>
                </div>

                {{#if messages.error}}
                    <div class="alert alert-danger" role="alert">
                        {{messages.error}}
                    </div>
                {{/if}}

                <div class="attributes">
                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-2">UserID</div>
                        <input class="input-text col-9" type="text" id="userid" disabled value="{{user.id}}" />
                    </div>

                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-2">Username</div>
                        <input type="text" class="input-text col-9" id="username" disabled value="{{user.username}}" />
                    </div>

                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-2">Firstname</div>
                        <input type="text" id="firstname" class="input-text col-9" name="firstname" value="{{user.firstname}}" />
                    </div>

                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-2">Lastname</div>
                        <input class="input-text col-9" type="text" name="lastname" id="lastname" value="{{user.lastname}}" />
                    </div>

                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-2">Gender</div>
                        <select class="col-9 input-text" name="gender" id="gender">
                            <option>MALE</option>
                            <option>FEMALE</option>
                            <option>UNDISCLOSED</option>
                        </select>
                    </div>

                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-2">Email</div>
                        {{#if user.verifiedemail}}
                            <input type="text" id="email" name="email" class="input-text col-9" disabled value="{{user.email}}" />
                        {{else}}
                            <input type="text" id="email" name="email" class="input-text col-9" value="{{user.email}}" />
                        {{/if}}
                    </div>

                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-2">Contact Number</div>
                        <input class="input-text col-9" type="text" name="mobile_number" id="mobile_number" value="{{user.mobile_number}}"/>
                    </div>

                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-2">Password</div>
                        <input class="input-text col-9" type="password" name="password" placeholder="Enter Password" id="password"/>
                    </div>

                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-2">Re-Enter</div>
                        <input class="input-text col-9" type="password" name="repassword" placeholder="Re-Enter Password" id="repassword" />
                    </div>

                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-2">College</div>
                        <select name="collegeId" class="dropdown-ul input-text col-9">
                            {{#each colleges}}
                                {{#ifeq expected=id val=../user.demographic.collegeId}}
                                    <option class="dropdown-li" value="{{id}}" selected>{{name}}</option>
                                {{/ifeq}}
                                {{#ifneq expected=id val=../user.demographic.collegeId}}
                                    <option class="dropdown-li" value="{{id}}">{{name}}</option>
                                {{/ifneq}}
                            {{/each}}
                        </select>
                    </div>

                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-2">Branch</div>
                        <select name="branchId" class="dropdown-ul input-text col-9">
                            {{#each branches}}
                                {{#ifeq expected=id val=../user.demographic.branchId}}
                                    <option class="dropdown-li" value="{{id}}" selected>{{name}}</option>
                                {{/ifeq}}
                                {{#ifneq expected=id val=../user.demographic.branchId}}
                                    <option class="dropdown-li" value="{{id}}">{{name}}</option>
                                {{/ifneq}}
                            {{/each}}
                        </select>
                    </div>

                    <div class="flex-row justify-content-end button-div">
                        <div class="reset-button">
                            <button type="reset">RESET</button>
                        </div>
                        <div class="button-solid">
                            <button type="submit">SAVE CHANGES</button>
                        </div>
                    </div>
                </div>
            </form>
    </div>
</div>
