{{!< centercolumn}}

<div class="col-md-8 c-client-add">
    <div class="card">
        <div class="heading-u-red">Edit Details for {{client.id}}</div>
        <div class="attributes d-flex flex-column">
            <form method="post" action="/api/clients/edit/{{client.id}}">
                <div class="row justify-content-between">
                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-md-4 col-sm-3">Client Name</div>
                        <input type="text" class="input-text col-8" placeholder="Client Name" name="clientname" value="{{client.name}}"/>
                    </div>

                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-md-4 col-sm-3">Domain</div>
                        <input type="text" class="input-text col-8" placeholder="Domains" name="domain" value="{{client.clientDomains}}"/>
                    </div>
                </div>

                <div class="row justify-content-between">
                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-md-4 col-sm-3">CallBack Url</div>
                        <input type="text" class="input-text col-8" placeholder="Callback URL" name="callback" value="{{client.clientCallbacks}}"/>
                    </div>

                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-md-4 col-sm-3">Default Url</div>
                        <input type="text" class="input-text col-8" placeholder="Default URL" name="defaulturl" value="{{client.clientdefaultURL}}"/>
                    </div>
                </div>

                <div class="row no-gutters align-items-center justify-content-between detail-row">
                    <div class="label-input col-md-4 col-sm-3">Webhook Url</div>
                    <input type="url" class="input-text col-8" placeholder="Webhook URL" name="webhookurl" value="{{client.webhookURL}}"/>
                </div>
                {{#if client.trusted}}
                {{#if client.webhookURL}}
                Manage Rights:
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="label-input col-md-4 col-sm-3">Users</div>
                        <div class="col-8 row justify-content-between">
                            <span>
                                <input class="input-checkbox" {{#if event_subscription.cUser}}checked{{/if}} type="checkbox" name="event_c_user" value="1">
                                CREATE
                            </span>
                            <span>
                                <input class="input-checkbox" {{#if event_subscription.uUser}}checked{{/if}} type="checkbox" name="event_u_user" value="1">
                                UPDATE
                            </span>
                            <span>
                                <input class="input-checkbox" {{#if event_subscription.dUser}}checked{{/if}} type="checkbox" name="event_d_user" value="1">
                                DELETE
                            </span>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="label-input col-md-4 col-sm-3">Demographics</div>
                        <div class="col-8 row justify-content-between">
                            <span>
                                <input class="input-checkbox" {{#if event_subscription.cDemographic}}checked{{/if}} type="checkbox" name="event_c_demographics" value="1">
                                CREATE
                            </span>
                            <span>
                                <input class="input-checkbox" {{#if event_subscription.uDemographic}}checked{{/if}} type="checkbox" name="event_u_demographics" value="1">
                                UPDATE
                            </span>
                            <span>
                                <input class="input-checkbox" {{#if event_subscription.dDemographic}}checked{{/if}} type="checkbox" name="event_d_demographics" value="1">
                                DELETE
                            </span>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="label-input col-md-4 col-sm-3">Addresses</div>
                        <div class="col-8 row justify-content-between">
                            <span>
                                <input class="input-checkbox" {{#if event_subscription.cAddress}}checked{{/if}} type="checkbox" name="event_c_address" value="1">
                                CREATE
                            </span>
                            <span>
                                <input class="input-checkbox" {{#if event_subscription.uAddress}}checked{{/if}} type="checkbox" name="event_u_address" value="1">
                                UPDATE
                            </span>
                            <span>
                                <input class="input-checkbox" {{#if event_subscription.dAddress}}checked{{/if}} type="checkbox" name="event_d_address" value="1">
                                DELETE
                            </span>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="label-input col-md-4 col-sm-3">Clients</div>
                        <div class="col-8 row justify-content-between">
                            <span>
                                <input class="input-checkbox" {{#if event_subscription.cClient}}checked{{/if}} type="checkbox" name="event_c_client" value="1">
                                CREATE
                            </span>
                            <span>
                                <input class="input-checkbox" {{#if event_subscription.uClient}}checked{{/if}} type="checkbox" name="event_u_client" value="1">
                                UPDATE
                            </span>
                            <span>
                                <input class="input-checkbox" {{#if event_subscription.dClient}}checked{{/if}} type="checkbox" name="event_d_client" value="1">
                                DELETE
                            </span>
                        </div>
                    </div>
                {{/if}}
                {{/if}}

                {{#ifeq val=userRole expected="admin"}}
                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-md-4 col-sm-3">Trusted Client</div>
                        <input type="checkbox" class="input-checkbox col-7" placeholder="Default URL" name="trustedClient" {{#if client.trusted}}checked{{/if}}/>
                    </div>
                {{/ifeq}}

                <div class="row justify-content-end">
                    <div class="button-solid">
                        <button type="submit">SAVE CHANGES</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>