{{!< centercolumn}}

<h2 class="text-center thin-font">Authorize App</h2>

<form class="form-group" method="post" action="/oauth/dialog/authorize/decision">

    <p>
        Hello, {{user.firstname}} {{user.lastname}} ( {{user.username}} )
    </p>
    <p> The app {{client.name}} wants to use your profile details </p>
    <input name="transaction_id" type="hidden" value="{{transactionID}}">
    <div class="row">
        <input class="btn btn-danger col-2" type="submit" value="Deny" name="cancel" id="deny">
        <div class="col"></div>
        <input class="btn btn-success col-2" type="submit" value="Allow" id="allow">

    </div>
</form>