{{!< centercolumn}}
<div class="signup-head">
  <h2 class="text-center thin-font custom-h2">SIGN UP</h2>
</div>
<form class="form-group  mt-5 pl-4 pr-4" method="post" action="/signup">
    {{#if messages.error}}
        <div class="alert alert-danger" role="alert">
            {{messages.error}}
        </div>
    {{/if}}
    <input class="form-control fontAwesome inputvalidation" name="username" placeholder="&#xf007; Username" type="text" required> <br>
    <input class="form-control fontAwesome inputvalidation" name="firstname" placeholder="&#xf061; Firstname" type="text" required> <br>
    <input class="form-control fontAwesome inputvalidation" name="lastname" placeholder="&#xf061; Lastname" type="text" required> <br>
    <label>Gender:</label>
    <select class="form-control inputvalidation" name="gender" required>
        <option>Male</option>
        <option>Female</option>
        <option>Don't want to disclose</option>
    </select><br>
    <input class="form-control fontAwesome inputvalidation" name="email" placeholder="&#xf0e0; Email" type="email" required> <br>
    <input class="form-control fontAwesome inputvalidation" name="password" placeholder="&#xf023; Password" type="password" minlength="5" required> <br>
    <label>College Name:</label>
    <select name="collegeId" class="m-2a form-control">
        {{#each colleges}}
            <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
        {{/each}}
    </select>
    <label>Branch Name:</label>
    <select name="branchId" class="m-2a form-control">
        {{#each branches}}
            <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
        {{/each}}
    </select>
    <div class="row">
        <input class="btn btn-primary mx-auto" type="submit" value="Signup">
    </div>
</form>
