{{!< centercolumn}}

<div class="col-md-8 c-profile">
    <div class="card">
        <div class="details">
            <div class="flex-row justify-content-between">
                {{#if user.firstname}}
                    <div class="heading-u-red">{{user.firstname}}'s Profile</div>
                {{else}}
                    <div class="heading-u-red">User Profile</div>
                {{/if}}

                <div class="round-img">
                    {{#if user.photo}}
                        <img class="round-img user-pic" src="{{user.photo}}">
                    {{else}}
                        <img class="round-img user-pic" src="img/user.svg">
                    {{/if}}
                </div>
            </div>

            <div class="attributes">
                <div id="profile-row-id" class="flex-row">
                    <div>UserID</div>
                    <div>
                        <span class="faded">{{user.id}}</span>
                    </div>
                </div>

                <div id="profile-row-id" class="flex-row">
                    <div>Usernname</div>
                    <div>
                        <span class="faded">{{user.username}}</span>
                    </div>
                </div>

                <div id="profile-row-id" class="flex-row">
                    <div>Firstname</div>
                    <div>
                        <span class="faded">{{user.firstname}}</span>
                    </div>
                </div>

                <div id="profile-row-id" class="flex-row">
                    <div>Lastname</div>
                    <div>
                        <span class="faded">{{user.lastname}}</span>
                    </div>
                </div>

                <div id="profile-row-id" class="flex-row">
                    <div>Gender</div>
                    <div>
                        <span class="faded">{{user.gender}}</span>
                    </div>
                </div>

                <div id="profile-row-id" class="flex-row">
                    <div>Email ID</div>
                    <div>
                        <a href="mailto:{{user.email}}"><span class="faded">{{user.email}}</span></a>
                    </div>
                </div>

                {{#if user.mobile_number}}
                  <div id="profile-row-id" class="flex-row">
                      <div>Contact Number</div>
                      <div>
                          <span class="faded">{{user.mobile_number}}</span>
                      </div>
                  </div>
                {{/if}}

                <div id="profile-row-id" class="flex-row">
                    <div>Role@CB</div>
                    <div>
                        <span class="faded">{{user.role}}</span>
                    </div>
                </div>

                {{#if user.userfacebook}}
                    <div id="profile-row-fb" class="flex-row">
                        <div>Facebook Connected</div>
                        <div>
                            <span class="grey">
                                <a class="grey" target="_blank" href="http://facebook.com/{{user.userfacebook.id}}">
                                    {{user.firstname}} {{user.lastname}}
                                </a>
                            </span>
                        </div>
                    </div>
                {{/if}}
                {{#if user.usergoogle}}
                    <div id="profile-row-google" class="flex-row">
                        <div>Google Connected</div>
                        <div>
                            <span class="grey">
                                <a class="grey" target="_blank" href="http://google.com/{{user.usergoogle.id}}">
                                    {{user.usergoogle.username}}
                                </a>
                            </span>
                        </div>
                    </div>
                {{/if}}
                {{#if user.usertwitter}}
                    <div id="profile-row-twitter" class="flex-row">
                        <div>Twitter Connected</div>
                        <div>
                            <span class="grey">
                                <a class="grey" target="_blank" href="http://twitter.com/{{user.usertwitter.username}}">
                                    {{user.usertwitter.username}}
                                </a>
                            </span>
                        </div>
                    </div>
                {{/if}}
                {{#if user.usergithub}}
                    <div id="profile-row-github" class="flex-row">
                        <div>Github Connected</div>
                        <div>
                            <span class="grey">
                                <a class="grey" target="_blank" href="http://github.com/{{user.usergithub.username}}">
                                    {{user.usergithub.username}}
                                </a>
                            </span>
                        </div>
                    </div>
                {{/if}}
                {{#if user.userlinkedin}}
                    <div id="profile-row-github" class="flex-row">
                        <div>Linkedin Connected</div>
                        <div>
                            <span class="red">
                                <a class="red" target="_blank" href="{{user.userlinkedin.profile}}">
                                    {{user.userlinkedin.username}}
                                </a>
                            </span>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
