{{!< centercolumn}}

<h2 class="text-center thin-font">Profile</h2>

<table class="table">
    <tr id="">

    </tr>
    <div> id : {{user.id}} </div>
    <div> {{user.firstname}} {{user.lastname}}</div>
    <img src="{{user.photo}}">
    <a href="mailto:{{user.email}}">{{user.email}}</a>
</table>