{{!< centercolumn}}
{{#if messages.error}}
    <div class="row alert alert-danger m-2">{{messages.error}}</div>
{{/if}}

<div class="col-md-8 c-address-page">
  <div class="card">
    <div class="flex-row justify-content-between">
      <div class="heading-u-red">My Addresses</div>
        <div class="button-solid">
          <a class="white" href="/address/add">
            <button>+ Add New Address</button>
          </a>  
        </div>
      </div>
      <div class="attributes">
        <div class="row justify-content-between">
          {{#each addresses as |address index|}}
            <div class="border-card">
              <a href="/address/{{address.id}}">
                <div class="address-row heading red">{{address.label}}</div>
                  <div class="address-row heading">
                      {{address.first_name}} {{address.last_name}} {{address.email}} | {{address.mobile_number}}
                      {{#if address.whatsapp_number}}
                        | {{address.whatsapp_number}}
                      {{/if}}
                </div>

                <div class="address-row grey">
                  {{address.street_address}} Near {{address.landmark}}, {{address.city}}<br> {{address.state.name}}: {{address.pincode}}
                    <br>{{address.country.name}}
                </div>
                <div class="row justify-content-end button-row">
                  <div class="button-dashed">
                    <a class="red" href="/address/{{address.id}}/edit">
                      <button>Edit Address</button>
                    </a>  
                  </div>
                </div>
              </a>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
