{{!< centercolumn}}
<div class="col-md-8 c-add-address">
    <div class="card">
        <div class="heading-u-red">Edit Details for {{address.id}}</div>
<form class="form-group" method="post" action="/api/address/{{address.id}}">
    <input type="hidden" name="returnTo" id="redirect-input">
            <div class="attributes">
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                    <div class="label-input col-md-4 col-sm-3">Label</div>
                    <input class="input-text col-md-8 col-sm-8" type="text" placeholder="Label" name="label"  value="{{address.label}}" />
                </div>
                <div class="row justify-content-between">
                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-md-4 col-sm-3">First Name</div>
                        <input class="input-text col-md-8 col-sm-8"  type="text" placeholder="First Name" name="first_name" value="{{address.first_name}}" required />
                    </div>

                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-md-4 col-sm-3">Last Name</div>
                        <input class="input-text col-md-8 col-sm-8" type="text" placeholder="Last Name" name="last_name" value="{{address.last_name}}" required />
                    </div>
                </div>

                <div class="row justify-content-between">
                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-md-4 col-sm-3">Mobile No.</div>
                        <input class="input-text col-md-8 col-sm-8" type="text" pattern="[0-9]{10}" maxlength="10" placeholder="Mobile Number" name="number" value="{{address.mobile_number}}" required />
                    </div>

                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-md-4 col-sm-3">Email</div>
                        <input class="input-text col-md-8 col-sm-8" type="email" placeholder="E-mail" name="email" value="{{address.email}}" required />
                    </div>
                </div>

                <div class="row justify-content-between">
                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-md-4 col-sm-3">Address Line</div>
                        <input class="input-text col-md-8 col-sm-8" type="text" placeholder="Street Address" name="street_address" value="{{address.street_address}}" required />
                    </div>

                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-md-4 col-sm-3">Landmark</div>
                        <input class="input-text col-md-8 col-sm-8" type="text" placeholder="Landmark" name="landmark" value="{{address.landmark}}" required />
                    </div>
                </div>

                <div class="row justify-content-between">
                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-md-4 col-sm-3">Pincode</div>
                        <input class="input-text col-md-8 col-sm-8" type="text" pattern="[0-9]{6}" maxlength="6" name="pincode" placeholder="Pin Code" value="{{address.pincode}}" required />
                    </div>

                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-md-4 col-sm-3">City</div>
                        <input class="input-text col-md-8 col-sm-8" type="text" placeholder="City" name="city" value="{{address.city}}" required />
                    </div>
                </div>

                <div class="row justify-content-between">
                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-md-4 col-sm-3">State</div>

                        <select name="stateId" value="{{address.stateId}}" required class="dropdown-ul input-text col-md-8 col-sm-8">
                            {{#each states}}
                                <option class="dropdown-li" value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-md-4 col-sm-3">Country</div>
                        <select name="countryId" value="{{address.countryId}}" required class="dropdown-ul input-text col-md-8 col-sm-8">
                            {{#each countries}}
                                <option class="dropdown-li" value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-md-4 col-sm-3">Whatsapp No.</div>
                        <label></label><input class="input-text col-md-8 col-sm-8" type="text" pattern="[0-9]{10}" maxlength="10" placeholder="Whatsapp Number" name="whatsapp_number" value="{{address.whatsapp_number}}" />
                        <label><input type="checkbox" class="input-checkbox" id="cb-whatsapp-toggle" >Same as Mobile No.</label>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="grey reset-button">
                        <button type="reset">RESET</button>
                    </div>

                    <div class="button-solid">
                        <button type="submit">SAVE CHANGES</button>
                    </div>
                </div>
    </div>
</form>
<script>
    $(function(){
        let params = (new URL(document.location)).searchParams;
        let url = params.get('returnTo')
        $('#redirect-input').val(url)

        let mobile_number = $('input[name=number]');
        let whatsapp_number = $('input[name=whatsapp_number]');
        let whatsapp_toggle = $('#cb-whatsapp-toggle')

        if (mobile_number.val() === whatsapp_number.val()) {
          whatsapp_toggle.prop('checked', true);
        }

        whatsapp_toggle.change(function() {
            if($(this).is(':checked')) {
                whatsapp_number.val(mobile_number.val());
                $(whatsapp_number).prop('disabled', true);
            } else {
                $('input[name=whatsapp_number]').val('');
                $(whatsapp_number).prop('disabled', false);
            }
        });

        $('.form-group').submit(function () {
            $(whatsapp_number).prop('disabled', false);
        })
    })
</script>
