{{!< main}}

<div class="container">
    <div class="h3 thin-font text-center">Address Details</div>
    <div class="col-md-12 col-lg-10 offset-lg-1 mt-5p">
        <a href="/address/{{address.id}}/edit"><div class="btn btn-sm btn-info">Edit</div></a>

        <table class="table table-bordered table-responsive mt-5p">
        <tr>
            <th>Label</th>
            <td> {{address.label}}</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td> {{address.first_name}}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td> {{address.last_name}}</td>
        </tr>
        <tr>
            <th>Mobile Number</th>
            <td> {{address.mobile_number}}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td> {{address.email}}</td>
        </tr>
        <tr>
            <th>Pincode</th>
            <td> {{address.pincode}}</td>
        </tr>
        <tr>
            <th>Street Address</th>
            <td> {{address.street_address}}</td>
        </tr>
        <tr>
            <th>Landmark</th>
            <td> {{address.landmark}}</td>
        </tr>
        <tr>
            <th>City</th>
            <td> {{address.city}}</td>
        </tr>
        <tr>
            <th>State</th>
            <td> {{address.state.state_name}}</td>
        </tr>
        <tr>
            <th> Country</th>
            <td> {{address.country.country_name}}</td>
        </tr>
        <tr>
            <th> Primary Address</th>
            <td>{{#if address.primary}}Yes{{else}}No{{/if}}</td>
        </tr>
    </table>
    </div>
</div>
