<!-- {{!< centercolumn}} -->
<div class="col-md-8 c-add-address">
  <div class="card">
    <div class="heading-u-red">Address Details {{#if address.label}} for {{address.label}} {{/if}} </div>

        <div class="attributes">
          <div class="row justify-content-between">
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Label</div>
              <input class="input-text col-md-8 col-sm-8" value="{{address.label}}" disabled />
            </div>
          </div>
          
          <div class="row justify-content-between">
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">First Name</div>
              <input class="input-text col-md-8 col-sm-8" value="{{address.first_name}}" disabled />
            </div>

            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Last Name</div>
              <input class="input-text col-md-8 col-sm-8" value="{{address.last_name}}" disabled />
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Mobile No.</div>
              <input class="input-text col-md-8 col-sm-8" value="{{address.mobile_number}}" disabled />
            </div>
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Whatsapp Number</div>
              <input class="input-text col-md-8 col-sm-8" value="{{address.whatsapp_number}}" disabled />
            </div>
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Email</div>
              <input class="input-text col-md-8 col-sm-8" value="{{address.email}}" disabled />
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Street Address</div>
              <input class="input-text col-md-8 col-sm-8" value="{{address.street_address}}" disabled />
            </div>

            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Landmark</div>
              <input class="input-text col-md-8 col-sm-8" value="{{address.landmark}}" disabled />
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Pincode</div>
              <input class="input-text col-md-8 col-sm-8" value="{{address.pincode}}" disabled />
            </div>

            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">City</div>
              <input class="input-text col-md-8 col-sm-8" value="{{address.city}}" disabled />
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">State</div>
              <input class="input-text col-md-8 col-sm-8" value="{{address.state.name}}" disabled />
            </div>

            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Country</div>
              <input class="input-text col-md-8 col-sm-8" value="{{address.country.name}}" disabled />
            </div>
          </div>

          <div class="row justify-content-end">
            <div class="reset-button">
              <a class="grey" href="/address/">
                <button>BACK</button>
              </a>
            </div>

            <div class="button-solid">
              <a style="color:#fff;" href="/address/{{address.id}}/edit">
                <button>EDIT ADDRESS</button>
              </a>
            </div>
          </div>

        </div>
    </div>
</div>


