{{!< centercolumn}}

<div class="col-md-8 c-profile-edit">
    <div class="card">
        <div class="heading-u-red">Edit Profile</div>
        {{#if messages.error}}
            <div class="alert alert-danger" role="alert">
                {{messages.error}}
            </div>
        {{/if}}

        <form class="form-group" method="post">
            <div class="attributes">
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                    <div class="label-input col-2">UserID</div>
                    <input class="input-text col-9" type="text" id="userid" disabled value="{{user.id}}" />
                </div>

                <div class="row no-gutters align-items-center justify-content-between detail-row">
                    <div class="label-input col-2">Username</div>
                    <input type="text" class="input-text col-9" id="username" disabled value="{{user.username}}" />
                </div>

                <div class="row no-gutters align-items-center justify-content-between detail-row">
                    <div class="label-input col-2">Firstname</div>
                    <input type="text" id="firstname" class="input-text col-9" name="firstname" value="{{user.firstname}}" />
                </div>

                <div class="row no-gutters align-items-center justify-content-between detail-row">
                    <div class="label-input col-2">Lastname</div>
                    <input class="input-text col-9" type="text" name="lastname" id="lastname" value="{{user.lastname}}" />
                </div>

                <div class="row no-gutters align-items-center justify-content-between detail-row">
                    <div class="label-input col-2">Gender</div>
                    <select class="col-9" name="gender" id="gender">
                        <option>MALE</option>
                        <option>FEMALE</option>
                        <option>UNDISCLOSED</option>
                    </select>
                </div>

                <div class="row no-gutters align-items-center justify-content-between detail-row">
                        <div class="label-input col-2">Email ID</div>
                        <input type="text" id="email" name="email" class="input-text col-9" value="{{user.email}}" />
                </div>

                <div class="row no-gutters align-items-center justify-content-between detail-row">
                    <div class="label-input col-2">Contact Number</div>
                    <input class="input-text col-9" type="text" name="mobile_number" id="mobile_number" value="{{user.mobile_number}}" />
                </div>

                <div class="row no-gutters align-items-center justify-content-between detail-row">
                    <div class="label-input col-2">Role@CB</div>
                    <select name="role" class="dropdown-ul input-text col-9">
                        <option class="dropdown-li" value="unchanged" selected>Unchanged</option>
                        <option class="dropdown-li" value="NULL">None</option>
                        <option class="dropdown-li" value="admin">Administrator</option>
                        <option class="dropdown-li" value="employee">Employee</option>
                        <option class="dropdown-li" value="intern">Intern</option>
                    </select>
                </div>

                <div class="flex-row justify-content-end button-div">
                    <div class="reset-button">
                        <button type="reset">RESET</button>
                    </div>
                    <div class="button-solid">
                        <button type="submit">SAVE CHANGES</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
